body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Distância do fundo da página */
  right: 20px; /* Distância da direita da página */
  z-index: 1000; /* Certifique-se de que está acima de outros elementos */
}

.whatsapp-button img {
  width: 60px; /* Tamanho do ícone do WhatsApp */
}
 #soon{
    width: 15rem;
    height: auto;
 }
 .hero {
      background-color: #d62525;
      color: white;
      padding-top: 1rem;
    }

    .img-card{
      width: 5rem;
      height: auto;
    }
    .highlight-card {
      background-color: #c42020;
      color: white;
      border-radius: 0.5rem;
      padding: 1rem;
      text-align: center;
    }
    .img-servicos{
      width: 3rem;
      height: auto;
    }
    .feature-icon {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    .product-card {
      position: relative;
      overflow: hidden;
      border: none;
    }
    
    .product-card .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .product-card .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .product-card .card-overlay {
      opacity: 1;
    }
    
    .card-title, .card-text {
      margin: 0.5rem 0;
    }
    .service-icon {
      font-size: 2rem;
    }
    .section-red {
      background-color: #d62525;
      padding: 2rem 1rem;
      color: white;
    }

    @media only screen and (max-width:768px) {
        #soon{
            width: 8rem;
            height: auto;
         }
    }

  